/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
body {
    font-family: "Fira Sans", serif;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* HEADER */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0282f9;
}

/* .selector {
    position: absolute;
    width: 40px;
    height: 10px;
    background-color: #0282f9;
    top: 90px;
    left: 52%;
} */

/* MAIN */
.content {
    min-height: 150px;
    padding: 15px;
    margin: 0 auto;
    color: white;
    align-items: center;
    background-color: black;
}

.banner {
    min-height: 400px;
    padding: 15px;
    margin: 0 auto;
    background-image: url(../public/img/jumbotron.jpg);
    position: relative;
}

.btn-curr-series {
    color: white;
    background-color: #0282f9;
    border: 2px solid #0282f9;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: absolute;
    top: 513px;
}

.btn-curr-series:hover {
    transform: scale(1.1);
}

/* COMICS CARD */
.comics-card img {
    max-width: 100%;
}

.comics-col {
    width: 25%;
}

/* FOOTER */
.footer-top {
    background-color: #0282f9;
    padding: 15px;

}

.footer-top img {
    object-fit: contain;
    width: 50px;
    height: auto;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-top p {
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 15px;
}

footer {
    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
}

/* FOOTER MID */

.col h1 {
    color: white;
}

.col {
    width: 15%;
    height: 200px;
    color: white;
    margin-top: 10px;
}

.col p {
    color: grey;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.col-bott {
    width: 15%;
    height: 200px;
    color: white;
    margin-top: 25px;

}

.col-bott p {
    color: grey;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.row-foot {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.footer-mid img {
    position: absolute;
    top: 75px;
    left: 50%;
}

.col-bott p:hover {
    color: white;
    cursor: pointer;
}

.col p:hover {
    color: white;
    cursor: pointer;
}

/* FOOTER BOTTOM */

.footer-bottom {
    background-color: #303030;
    width: 100%;
    min-height: 90px;
    position: sticky;
    z-index: 10;
    align-items: center;
}

.btn {
    color: white;
    background-color: transparent;
    border: 2px solid #0282f9;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.footer-bottom h1 {
    color: #0282f9;
}

.row-bott {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer-bottom img {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer-bottom img:hover {
    transform: scale(1.3);
}